@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    font-family: "Rubik";
    @apply bg-white;
  }

  :root {
    --insta-gradient: linear-gradient(45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%);
  }
}

@layer components {
  .container {
    max-width: 1140px;
    @apply mx-auto;
  }

  .add-custom-background {
    background: url(../public/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .add-strike {
    @apply relative flex justify-start items-center gap-5;
  }

  .add-strike .strike {
    @apply block h-1 w-full bg-slate-600;
  }
}

.clay {
  background: var(--clay-background, rgba(0, 0, 0, 0.005));
  border-radius: var(--clay-border-radius, 32px);
  box-shadow: var(--clay-shadow-outset, 8px 8px 16px 0 rgba(0, 0, 0, 0.25)),
    inset var(--clay-shadow-inset-primary, -8px -8px 16px 0 rgba(0, 0, 0, 0.25)),
    inset var(--clay-shadow-inset-secondary, 8px 8px 16px 0 hsla(0, 0%, 100%, 0.2));
}

.clay {
  --clay-background: theme(colors.primary);
  --clay-border-radius: 2rem;
  --clay-shadow-outset: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
  --clay-shadow-inset-primary: -8px -8px 8px 0 rgba(0, 0, 0, 0.2);
  --clay-shadow-inset-secondary: 8px 8px 8px 0 hsla(0, 0%, 100%, 0.4);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.clay:hover {
  @apply bg-primary;
  transform: scale(0.95) translate3d(0, 0, 0);
}

.clay+.loader {
  transform: translate3d(0, 0, 0);
}

.clay:hover+.loader {
  transform: scale(0.95) translate3d(0, 0, 0);
}

.clay:active {
  @apply bg-primary;
}

.clay:active {
  transform: scale(0.95) translate3d(0, 0, 0);
}

/* Download Clay Button */

.download-clay {
  background: var(--clay-background, rgba(0, 0, 0, 0.005));
  border-radius: var(--clay-border-radius, 32px);
  box-shadow: var(--clay-shadow-outset, 8px 8px 16px 0 rgba(0, 0, 0, 0.25)),
    inset var(--clay-shadow-inset-primary, -8px -8px 16px 0 rgba(0, 0, 0, 0.25)),
    inset var(--clay-shadow-inset-secondary, 8px 8px 16px 0 hsla(0, 0%, 100%, 0.2));
}

.download-clay {
  --clay-background: theme(colors.about);
  --clay-border-radius: 2rem;
  --clay-shadow-outset: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
  --clay-shadow-inset-primary: -8px -8px 8px 0 rgba(0, 0, 0, 0.2);
  --clay-shadow-inset-secondary: 8px 8px 8px 0 hsla(0, 0%, 100%, 0.4);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.download-clay:hover {
  @apply bg-about;
  transform: scale(0.95) translate3d(0, 0, 0);
}

.download-clay:active {
  @apply bg-about;
}

.download-clay:active {
  transform: scale(0.95) translate3d(0, 0, 0);
}

/* Facebook Clay Button */

.facebook-clay {
  background: var(--clay-background, rgba(0, 0, 0, 0.005));
  border-radius: var(--clay-border-radius, 32px);
  box-shadow: var(--clay-shadow-outset, 8px 8px 16px 0 rgba(0, 0, 0, 0.25)),
    inset var(--clay-shadow-inset-primary, -8px -8px 16px 0 rgba(0, 0, 0, 0.25)),
    inset var(--clay-shadow-inset-secondary, 8px 8px 16px 0 hsla(0, 0%, 100%, 0.2));
}

.facebook-clay {
  --clay-background: theme(colors.facebook);
  --clay-border-radius: 2rem;
  --clay-shadow-outset: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
  --clay-shadow-inset-primary: -8px -8px 8px 0 rgba(0, 0, 0, 0.2);
  --clay-shadow-inset-secondary: 8px 8px 8px 0 hsla(0, 0%, 100%, 0.4);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.facebook-clay:hover {
  @apply bg-facebook;
  transform: scale(0.95) translate3d(0, 0, 0);
}

.facebook-clay:active {
  @apply bg-facebook;
}

.facebook-clay:active {
  transform: scale(0.95) translate3d(0, 0, 0);
}

/* Instagram Clay Button */

.instagram-clay {
  background: var(--clay-background, rgba(0, 0, 0, 0.005));
  border-radius: var(--clay-border-radius, 32px);
  box-shadow: var(--clay-shadow-outset, 8px 8px 16px 0 rgba(0, 0, 0, 0.25)),
    inset var(--clay-shadow-inset-primary, -8px -8px 16px 0 rgba(0, 0, 0, 0.25)),
    inset var(--clay-shadow-inset-secondary, 8px 8px 16px 0 hsla(0, 0%, 100%, 0.2));
}

.instagram-clay {
  --clay-background: theme(colors.instagram);
  --clay-border-radius: 2rem;
  --clay-shadow-outset: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
  --clay-shadow-inset-primary: -8px -8px 8px 0 rgba(0, 0, 0, 0.2);
  --clay-shadow-inset-secondary: 8px 8px 8px 0 hsla(0, 0%, 100%, 0.4);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.instagram-clay:hover {
  @apply bg-instagram;
  transform: scale(0.95) translate3d(0, 0, 0);
}

.instagram-clay:active {
  @apply bg-instagram;
}

.instagram-clay:active {
  transform: scale(0.95) translate3d(0, 0, 0);
}

/* Linkedin Clay Button */

.linkedin-clay {
  background: var(--clay-background, rgba(0, 0, 0, 0.005));
  border-radius: var(--clay-border-radius, 32px);
  box-shadow: var(--clay-shadow-outset, 8px 8px 16px 0 rgba(0, 0, 0, 0.25)),
    inset var(--clay-shadow-inset-primary, -8px -8px 16px 0 rgba(0, 0, 0, 0.25)),
    inset var(--clay-shadow-inset-secondary, 8px 8px 16px 0 hsla(0, 0%, 100%, 0.2));
}

.linkedin-clay {
  --clay-background: theme(colors.linkedin);
  --clay-border-radius: 2rem;
  --clay-shadow-outset: 4px 4px 8px 0 rgba(0, 0, 0, 0.3);
  --clay-shadow-inset-primary: -8px -8px 8px 0 rgba(0, 0, 0, 0.2);
  --clay-shadow-inset-secondary: 8px 8px 8px 0 hsla(0, 0%, 100%, 0.4);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.linkedin-clay:hover {
  @apply bg-linkedin;
  transform: scale(0.95) translate3d(0, 0, 0);
}

.linkedin-clay:active {
  @apply bg-linkedin;
}

.linkedin-clay:active {
  transform: scale(0.95) translate3d(0, 0, 0);
}


.page__loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: #fff;
}

.page__banner-container {
  background: url(../public/assets/page-banner.png) no-repeat center;
  background-size: cover;
}